* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 27.5px;
}

li {
  width: 53px;
  height: 25px;
  display: inline;
  margin-right: 27.5px;
  size: 18px;
  line-height: 24.51px;
  letter-spacing: 2%;
}

.novik-item {
  text-align: center;
  margin-right: 450px;
}

h1 {
  width: 300px;
  height: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  margin: auto;
  padding-top: 12px;
}

.page1 {
  display: block;
  margin: auto;
  padding-top: 50px;
}

.about {
  padding-top: 100px;
}

h2 {
  width: 200px;
  height: 40px;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  padding-top: 100px;
  text-align: center;
  margin: auto;
}

.text1 {
  width: 406px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding-top: 100px;
  margin: auto;
}

.text2 {
  width: 406px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding-top: 100px;
  margin: auto;
}

.text3 {
  width: 321px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding-top: 100px;
  margin: auto;
}

.skills {
  padding-top: 200px;
}

#skil {
  width: 120px;
  height: 40px;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
}

.text4 {
  width: 250px;
  height: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

.skil-item {
  text-align: center;
}

.logo {
  text-align: center;
  padding-top: 100px;
}

.logo-text {
  text-align: center;
  margin: auto;
  padding-top: 25px;
}

#ps {
  text-align: center;
  margin-left: 44.5px;
  display: inline-block;
}

#ai {
  margin-left: 187px;
  display: inline-block;
}

#ae {
  margin-left: 187px;
  display: inline-block;
}

#figma {
  margin-left: 187px;
  margin-right: 57.5px;
  display: inline-block;
}

.logo-text {
  text-align: center;
  padding-top: 25px;
  margin: auto;
}

#adobe {
  width: 78px;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin-left: 0px;
  margin-right: 187px;
  display: inline-block;
}

#Illustrator {
  width: 75px;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin-right: 187px;
  display: inline-block;
}

#after {
  width: 90px;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin-right: 187px;
  display: inline-block;
}

#figmas {
  width: 44px;
  height: 19px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-right: 15px;
  display: inline-block;
}

.star {
  display: flex;
  text-align: center;
  display: inline-block;
  padding-top: 25px;
}

#star2 {
  margin-left: 35px;
  display: inline-block;
}

#star3 {
  margin-left: 115px;
  display: inline-block;
}

#star4 {
  margin-left: 95px;
  display: inline-block;
}

#star5 {
  margin-left: 95px;
  display: inline-block;
}

#porto {
  width: 150px;
  height: 40px;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
}

#fashimg {
  padding-top: 100px;
}

.store {
  text-align: center;
  padding-top: 201px;
  margin: auto;
}

#fashstore {
  width: 200px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  margin: auto;
  padding-top: 40px;
}

#rebookimg {
  text-align: center;
  padding-top: 70px;
  margin: auto;
}

#reebokstore {
  width: 200px;
  height: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  margin: auto;
  padding-top: 70px;
}

#braunimg {
  text-align: center;
  padding-top: 70px;
  margin: auto;
}

#braunstore {
  width: 260px;
  height: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  margin: auto;
  padding-top: 70px;
}

footer {
  padding-top: 200px;
}

#contacts {
  width: 150px;
  height: 40px;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  margin: auto;
}

#chat {
  width: 280px;
  height: 46px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
}

.but {
  padding-top: 100px;
}

#send {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  width: 180px;
  height: 44px;
  background: #070707;
  border-radius: 22px;
  color: white;
  text-align: center;
  margin: auto;
}

.messengers {
  text-align: center;
  padding-top: 40px;
}

#linkedinimg {
  margin-left: 0px;
}

#instagramimg {
  margin-left: 50px;
}

#behanceimg {
  margin-left: 50px;
}

#dribbbleimg {
  margin-left: 50px;
}

#like {
  width: 200px;
  height: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: gray;
  padding-top: 60px;
  text-align: center;
  margin: auto;
}
